In [443]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [400]:
spark = SparkSession.builder.appName("Python Spark SQL basic example").config("spark.some.config.option", "some-value").getOrCreate()

#### 1. **Dataset Understanding & Schema Validation**

1.	What is the schema of the dataset?
2.	Are column data types correctly inferred (dates, numerics, strings)?
3.	How many rows and columns are present?
4.	Which columns are categorical, numerical, and date/time?
5.	Are there any columns that should be cast to different types (e.g., string → date, string → double)?
6.	Is the dataset wide or tall, and does that affect processing strategy?
7.	Are column names consistent (no spaces, special characters, casing issues)?

In [401]:
df = spark.read.csv("superstore.csv",header=True,inferSchema=True)
df.show(5)

+------+--------------+----------+----------+--------------+-----------+---------------+---------+-------------+---------------+----------+-----------+------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+
|Row ID|      Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|  Customer Name|  Segment|      Country|           City|     State|Postal Code|Region|     Product ID|       Category|Sub-Category|        Product Name|   Sales|Quantity|Discount|  Profit|
+------+--------------+----------+----------+--------------+-----------+---------------+---------+-------------+---------------+----------+-----------+------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+
|     1|CA-2016-152156| 11/8/2016|11/11/2016|  Second Class|   CG-12520|    Claire Gute| Consumer|United States|      Henderson|  Kentucky|      42420| South|FUR-BO-10001798|      Furniture|   Bookcases|Bush Somerset Col...|  261.96|       2|       0| 41.9136|
|     2|CA-2016-152156| 11/8/2016|11/11/2016|  Second Class|   CG-12520|    Claire Gute| Consumer|United States|      Henderson|  Kentucky|      42420| South|FUR-CH-10000454|      Furniture|      Chairs|Hon Deluxe Fabric...|  731.94|       3|       0| 219.582|
|     3|CA-2016-138688| 6/12/2016| 6/16/2016|  Second Class|   DV-13045|Darrin Van Huff|Corporate|United States|    Los Angeles|California|      90036|  West|OFF-LA-10000240|Office Supplies|      Labels|Self-Adhesive Add...|   14.62|       2|       0|  6.8714|
|     4|US-2015-108966|10/11/2015|10/18/2015|Standard Class|   SO-20335| Sean O'Donnell| Consumer|United States|Fort Lauderdale|   Florida|      33311| South|FUR-TA-10000577|      Furniture|      Tables|Bretford CR4500 S...|957.5775|       5|    0.45|-383.031|
|     5|US-2015-108966|10/11/2015|10/18/2015|Standard Class|   SO-20335| Sean O'Donnell| Consumer|United States|Fort Lauderdale|   Florida|      33311| South|OFF-ST-10000760|Office Supplies|     Storage|Eldon Fold 'N Rol...|  22.368|       2|     0.2|  2.5164|
+------+--------------+----------+----------+--------------+-----------+---------------+---------+-------------+---------------+----------+-----------+------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+
only showing top 5 rows

**1. What is the schema of the dataset?**

In [402]:
df.printSchema()

root
 |-- Row ID: integer (nullable = true)
 |-- Order ID: string (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Ship Date: string (nullable = true)
 |-- Ship Mode: string (nullable = true)
 |-- Customer ID: string (nullable = true)
 |-- Customer Name: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Postal Code: integer (nullable = true)
 |-- Region: string (nullable = true)
 |-- Product ID: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Sub-Category: string (nullable = true)
 |-- Product Name: string (nullable = true)
 |-- Sales: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- Discount: string (nullable = true)
 |-- Profit: double (nullable = true)

**2. Are column data types correctly inferred (dates, numerics, strings)?**

No, I am modifying the data types for columns for which data types are not correctly inferred.

In [403]:
df_1 = df.withColumn("Sales",col("Sales").astype("float"))
df_1 = df_1.withColumn("Quantity",col("Quantity").astype("float"))
df_1 = df_1.withColumn("Discount",col("Discount").astype("float"))
df_1 = df_1.withColumn("Profit",col("Profit").astype("float"))

df_1 = df_1.withColumn("Order Date",split("Order Date","/"))
df_1 = df_1.withColumn("Ship Date",split("Ship Date","/"))

df_1.show(5)

+------+--------------+--------------+--------------+--------------+-----------+---------------+---------+-------------+---------------+----------+-----------+------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+
|Row ID|      Order ID|    Order Date|     Ship Date|     Ship Mode|Customer ID|  Customer Name|  Segment|      Country|           City|     State|Postal Code|Region|     Product ID|       Category|Sub-Category|        Product Name|   Sales|Quantity|Discount|  Profit|
+------+--------------+--------------+--------------+--------------+-----------+---------------+---------+-------------+---------------+----------+-----------+------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+
|     1|CA-2016-152156| [11, 8, 2016]|[11, 11, 2016]|  Second Class|   CG-12520|    Claire Gute| Consumer|United States|      Henderson|  Kentucky|      42420| South|FUR-BO-10001798|      Furniture|   Bookcases|Bush Somerset Col...|  261.96|     2.0|     0.0| 41.9136|
|     2|CA-2016-152156| [11, 8, 2016]|[11, 11, 2016]|  Second Class|   CG-12520|    Claire Gute| Consumer|United States|      Henderson|  Kentucky|      42420| South|FUR-CH-10000454|      Furniture|      Chairs|Hon Deluxe Fabric...|  731.94|     3.0|     0.0| 219.582|
|     3|CA-2016-138688| [6, 12, 2016]| [6, 16, 2016]|  Second Class|   DV-13045|Darrin Van Huff|Corporate|United States|    Los Angeles|California|      90036|  West|OFF-LA-10000240|Office Supplies|      Labels|Self-Adhesive Add...|   14.62|     2.0|     0.0|  6.8714|
|     4|US-2015-108966|[10, 11, 2015]|[10, 18, 2015]|Standard Class|   SO-20335| Sean O'Donnell| Consumer|United States|Fort Lauderdale|   Florida|      33311| South|FUR-TA-10000577|      Furniture|      Tables|Bretford CR4500 S...|957.5775|     5.0|    0.45|-383.031|
|     5|US-2015-108966|[10, 11, 2015]|[10, 18, 2015]|Standard Class|   SO-20335| Sean O'Donnell| Consumer|United States|Fort Lauderdale|   Florida|      33311| South|OFF-ST-10000760|Office Supplies|     Storage|Eldon Fold 'N Rol...|  22.368|     2.0|     0.2|  2.5164|
+------+--------------+--------------+--------------+--------------+-----------+---------------+---------+-------------+---------------+----------+-----------+------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+
only showing top 5 rows

**3. How many rows and columns are present?**

In [404]:
print("Number of Rows      :  ",len(df_1.columns))
print("Number of Columns   :  ",df_1.count())

Number of Rows      :   21
Number of Columns   :   9994

**4. Which columns are categorical, numerical, and date/time?**

Categorical Columns:
- Order ID
- Ship Mode
- Customer ID
- Customer Name
- Segment
- Country
- City
- State
- Region
- Category
- Sub-Category

Numerical Columns:
- Postal Code
- Sales
- Quantity
- Discount
- Profit

Date/Time Columns:
- Order Date
- Ship Date


Other Columns:
- Product ID
- Product Name

**5. Are there any columns that should be cast to different types (e.g., string → date, string → double)?**

Yes, I did cast certain columns to different types. 

I casted the below columns from string to float:
- Sales
- Quantity
- Discount

I converted the below columns from string to list (they are actually dates):
- Order Date
- Ship Date

**6. Is the dataset wide or tall, and does that affect processing strategy?**

Extremely tall

**7. Are column names consistent (no spaces, special characters, casing issues)?**

No, column names are not consistent.

In [405]:
df_2 = df_1.withColumnRenamed("Row ID", "row_id")
df_2 = df_2.withColumnRenamed("Order ID", "order_id")
df_2 = df_2.withColumnRenamed("Order Date", "order_date")
df_2 = df_2.withColumnRenamed("Ship Date", "ship_date")
df_2 = df_2.withColumnRenamed("Ship Mode", "ship_mode")
df_2 = df_2.withColumnRenamed("Customer ID", "column_id")
df_2 = df_2.withColumnRenamed("Customer Name", "customer_name")
df_2 = df_2.withColumnRenamed("Segment", "segment")
df_2 = df_2.withColumnRenamed("Country", "country")
df_2 = df_2.withColumnRenamed("City", "city")
df_2 = df_2.withColumnRenamed("State", "state")
df_2 = df_2.withColumnRenamed('Postal Code',"postal_code")
df_2 = df_2.withColumnRenamed('Region',"region")
df_2 = df_2.withColumnRenamed('Product ID',"product_id")
df_2 = df_2.withColumnRenamed('Category',"category")
df_2 = df_2.withColumnRenamed('Sub-Category',"sub_category")
df_2 = df_2.withColumnRenamed('Product Name',"product_name")
df_2 = df_2.withColumnRenamed('Sales',"sales")
df_2 = df_2.withColumnRenamed('Quantity',"quantity")
df_2 = df_2.withColumnRenamed('Discount',"discount")
df_2 = df_2.withColumnRenamed('Profit',"profit")

df_2.show(5)

+------+--------------+--------------+--------------+--------------+---------+---------------+---------+-------------+---------------+----------+-----------+------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+
|row_id|      order_id|    order_date|     ship_date|     ship_mode|column_id|  customer_name|  segment|      country|           city|     state|postal_code|region|     product_id|       category|sub_category|        product_name|   sales|quantity|discount|  profit|
+------+--------------+--------------+--------------+--------------+---------+---------------+---------+-------------+---------------+----------+-----------+------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+
|     1|CA-2016-152156| [11, 8, 2016]|[11, 11, 2016]|  Second Class| CG-12520|    Claire Gute| Consumer|United States|      Henderson|  Kentucky|      42420| South|FUR-BO-10001798|      Furniture|   Bookcases|Bush Somerset Col...|  261.96|     2.0|     0.0| 41.9136|
|     2|CA-2016-152156| [11, 8, 2016]|[11, 11, 2016]|  Second Class| CG-12520|    Claire Gute| Consumer|United States|      Henderson|  Kentucky|      42420| South|FUR-CH-10000454|      Furniture|      Chairs|Hon Deluxe Fabric...|  731.94|     3.0|     0.0| 219.582|
|     3|CA-2016-138688| [6, 12, 2016]| [6, 16, 2016]|  Second Class| DV-13045|Darrin Van Huff|Corporate|United States|    Los Angeles|California|      90036|  West|OFF-LA-10000240|Office Supplies|      Labels|Self-Adhesive Add...|   14.62|     2.0|     0.0|  6.8714|
|     4|US-2015-108966|[10, 11, 2015]|[10, 18, 2015]|Standard Class| SO-20335| Sean O'Donnell| Consumer|United States|Fort Lauderdale|   Florida|      33311| South|FUR-TA-10000577|      Furniture|      Tables|Bretford CR4500 S...|957.5775|     5.0|    0.45|-383.031|
|     5|US-2015-108966|[10, 11, 2015]|[10, 18, 2015]|Standard Class| SO-20335| Sean O'Donnell| Consumer|United States|Fort Lauderdale|   Florida|      33311| South|OFF-ST-10000760|Office Supplies|     Storage|Eldon Fold 'N Rol...|  22.368|     2.0|     0.2|  2.5164|
+------+--------------+--------------+--------------+--------------+---------+---------------+---------+-------------+---------------+----------+-----------+------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+
only showing top 5 rows

#### 2. Data Quality & Missing Values
These questions ensure the data is reliable.

8.	Which columns contain null or missing values?
9.	What percentage of missing data exists per column?
10.	Are missing values random or systematic (e.g., always missing for a region)?
11.	Should missing values be imputed, flagged, or dropped?
12.	Are there placeholder values like "NA", "Unknown", or 0 that represent missing data?
13.	Are there columns that are entirely null or near-constant?
➡️ Goal: Decide cleaning vs enrichment strategy.

**8. Which columns contain null or missing values?**

In [406]:
df_2.show(5)

+------+--------------+--------------+--------------+--------------+---------+---------------+---------+-------------+---------------+----------+-----------+------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+
|row_id|      order_id|    order_date|     ship_date|     ship_mode|column_id|  customer_name|  segment|      country|           city|     state|postal_code|region|     product_id|       category|sub_category|        product_name|   sales|quantity|discount|  profit|
+------+--------------+--------------+--------------+--------------+---------+---------------+---------+-------------+---------------+----------+-----------+------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+
|     1|CA-2016-152156| [11, 8, 2016]|[11, 11, 2016]|  Second Class| CG-12520|    Claire Gute| Consumer|United States|      Henderson|  Kentucky|      42420| South|FUR-BO-10001798|      Furniture|   Bookcases|Bush Somerset Col...|  261.96|     2.0|     0.0| 41.9136|
|     2|CA-2016-152156| [11, 8, 2016]|[11, 11, 2016]|  Second Class| CG-12520|    Claire Gute| Consumer|United States|      Henderson|  Kentucky|      42420| South|FUR-CH-10000454|      Furniture|      Chairs|Hon Deluxe Fabric...|  731.94|     3.0|     0.0| 219.582|
|     3|CA-2016-138688| [6, 12, 2016]| [6, 16, 2016]|  Second Class| DV-13045|Darrin Van Huff|Corporate|United States|    Los Angeles|California|      90036|  West|OFF-LA-10000240|Office Supplies|      Labels|Self-Adhesive Add...|   14.62|     2.0|     0.0|  6.8714|
|     4|US-2015-108966|[10, 11, 2015]|[10, 18, 2015]|Standard Class| SO-20335| Sean O'Donnell| Consumer|United States|Fort Lauderdale|   Florida|      33311| South|FUR-TA-10000577|      Furniture|      Tables|Bretford CR4500 S...|957.5775|     5.0|    0.45|-383.031|
|     5|US-2015-108966|[10, 11, 2015]|[10, 18, 2015]|Standard Class| SO-20335| Sean O'Donnell| Consumer|United States|Fort Lauderdale|   Florida|      33311| South|OFF-ST-10000760|Office Supplies|     Storage|Eldon Fold 'N Rol...|  22.368|     2.0|     0.2|  2.5164|
+------+--------------+--------------+--------------+--------------+---------+---------------+---------+-------------+---------------+----------+-----------+------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+
only showing top 5 rows

In [407]:
print("Order ID")
colu = when(col("order_id").isNull(),1).otherwise(0)
df_2.agg(sum(colu)).show()

Order ID
+---------------------------------------------------+
|sum(CASE WHEN (order_id IS NULL) THEN 1 ELSE 0 END)|
+---------------------------------------------------+
|                                                  0|
+---------------------------------------------------+

In [408]:
print("Order Date")
colu = when(col("order_date").isNull(),1).otherwise(0)
df_2.agg(sum(colu)).show()

Order Date
+-----------------------------------------------------+
|sum(CASE WHEN (order_date IS NULL) THEN 1 ELSE 0 END)|
+-----------------------------------------------------+
|                                                    0|
+-----------------------------------------------------+

In [409]:
print("Ship Date")
colu = when(col("ship_date").isNull(),1).otherwise(0)
df_2.agg(sum(colu)).show()

Ship Date
+----------------------------------------------------+
|sum(CASE WHEN (ship_date IS NULL) THEN 1 ELSE 0 END)|
+----------------------------------------------------+
|                                                   0|
+----------------------------------------------------+

In [410]:
print("Ship Mode")
colu = when(col("ship_mode").isNull(),1).otherwise(0)
df_2.agg(sum(colu)).show()

Ship Mode
+----------------------------------------------------+
|sum(CASE WHEN (ship_mode IS NULL) THEN 1 ELSE 0 END)|
+----------------------------------------------------+
|                                                   0|
+----------------------------------------------------+

In [411]:
print("Column ID")
colu = when(col("column_id").isNull(),1).otherwise(0)
df_2.agg(sum(colu)).show()

Column ID
+----------------------------------------------------+
|sum(CASE WHEN (column_id IS NULL) THEN 1 ELSE 0 END)|
+----------------------------------------------------+
|                                                   0|
+----------------------------------------------------+

In [412]:
print("Customer Name")
colu = when(col("customer_name").isNull(),1).otherwise(0)
df_2.agg(sum(colu)).show()

Customer Name

+--------------------------------------------------------+
|sum(CASE WHEN (customer_name IS NULL) THEN 1 ELSE 0 END)|
+--------------------------------------------------------+
|                                                       0|
+--------------------------------------------------------+

In [413]:
print("Segment")
colu = when(col("segment").isNull(),1).otherwise(0)
df_2.agg(sum(colu)).show()

Segment

+--------------------------------------------------+
|sum(CASE WHEN (segment IS NULL) THEN 1 ELSE 0 END)|
+--------------------------------------------------+
|                                                 0|
+--------------------------------------------------+

In [414]:
print("Country")
colu = when(col("country").isNull(),1).otherwise(0)
df_2.agg(sum(colu)).show()

Country
+--------------------------------------------------+
|sum(CASE WHEN (country IS NULL) THEN 1 ELSE 0 END)|
+--------------------------------------------------+
|                                                 0|
+--------------------------------------------------+

In [415]:
print("City")
colu = when(col("city").isNull(),1).otherwise(0)
df_2.agg(sum(colu)).show()

City
+-----------------------------------------------+
|sum(CASE WHEN (city IS NULL) THEN 1 ELSE 0 END)|
+-----------------------------------------------+
|                                              0|
+-----------------------------------------------+

In [416]:
print("State")
colu = when(col("state").isNull(),1).otherwise(0)
df_2.agg(sum(colu)).show()

State

+------------------------------------------------+
|sum(CASE WHEN (state IS NULL) THEN 1 ELSE 0 END)|
+------------------------------------------------+
|                                               0|
+------------------------------------------------+

In [417]:
print("Postal Code")
colu = when(col("postal_code").isNull(),1).otherwise(0)
df_2.agg(sum(colu)).show()

Postal Code
+------------------------------------------------------+
|sum(CASE WHEN (postal_code IS NULL) THEN 1 ELSE 0 END)|
+------------------------------------------------------+
|                                                     0|
+------------------------------------------------------+

In [418]:
print("Region")
colu = when(col("region").isNull(),1).otherwise(0)
df_2.agg(sum(colu)).show()

Region
+-------------------------------------------------+
|sum(CASE WHEN (region IS NULL) THEN 1 ELSE 0 END)|
+-------------------------------------------------+
|                                                0|
+-------------------------------------------------+

In [419]:
print("Product ID")
colu = when(col("product_id").isNull(),1).otherwise(0)
df_2.agg(sum(colu)).show()

Product ID
+-----------------------------------------------------+
|sum(CASE WHEN (product_id IS NULL) THEN 1 ELSE 0 END)|
+-----------------------------------------------------+
|                                                    0|
+-----------------------------------------------------+

In [420]:
print("Category")
colu = when(col("category").isNull(),1).otherwise(0)
df_2.agg(sum(colu)).show()

Category
+---------------------------------------------------+
|sum(CASE WHEN (category IS NULL) THEN 1 ELSE 0 END)|
+---------------------------------------------------+
|                                                  0|
+---------------------------------------------------+

In [421]:
print("sub_category")
colu = when(col("sub_category").isNull(),1).otherwise(0)
df_2.agg(sum(colu)).show()

sub_category
+-------------------------------------------------------+
|sum(CASE WHEN (sub_category IS NULL) THEN 1 ELSE 0 END)|
+-------------------------------------------------------+
|                                                      0|
+-------------------------------------------------------+

In [422]:
print("product_name")
colu = when(col("product_name").isNull(),1).otherwise(0)
df_2.agg(sum(colu)).show()

product_name
+-------------------------------------------------------+
|sum(CASE WHEN (product_name IS NULL) THEN 1 ELSE 0 END)|
+-------------------------------------------------------+
|                                                      0|
+-------------------------------------------------------+

In [423]:
print("sales")
colu = when(col("sales").isNull(),1).otherwise(0)
df_2.agg(sum(colu)).show()

sales
+------------------------------------------------+
|sum(CASE WHEN (sales IS NULL) THEN 1 ELSE 0 END)|
+------------------------------------------------+
|                                             300|
+------------------------------------------------+

In [424]:
print("quantity")
colu = when(col("quantity").isNull(),1).otherwise(0)
df_2.agg(sum(colu)).show()

quantity

+---------------------------------------------------+
|sum(CASE WHEN (quantity IS NULL) THEN 1 ELSE 0 END)|
+---------------------------------------------------+
|                                                 20|
+---------------------------------------------------+

In [425]:
print("discount")
colu = when(col("discount").isNull(),1).otherwise(0)
df_2.agg(sum(colu)).show()

discount
+---------------------------------------------------+
|sum(CASE WHEN (discount IS NULL) THEN 1 ELSE 0 END)|
+---------------------------------------------------+
|                                                 11|
+---------------------------------------------------+

In [426]:
print("profit")
colu = when(col("profit").isNull(),1).otherwise(0)
df_2.agg(sum(colu)).show()

profit
+-------------------------------------------------+
|sum(CASE WHEN (profit IS NULL) THEN 1 ELSE 0 END)|
+-------------------------------------------------+
|                                                0|
+-------------------------------------------------+

There are three columns which have null values - sales, quantity, discount

a) Dealing with null values for sales column

In [427]:
print("sales")
c = when(col("sales")<0,1).otherwise(0)
df_2.agg(sum(c)).show()

sales
+--------------------------------------------+
|sum(CASE WHEN (sales < 0) THEN 1 ELSE 0 END)|
+--------------------------------------------+
|                                           0|
+--------------------------------------------+

In [428]:
df_2.agg(median("sales")).first()[0]

55.92799949645996

In [429]:
median_sales  = df_2.agg(median("sales")).first()[0]
d = when(col("sales").isNull(),median_sales).otherwise(col("sales"))
df_3 = df_2.withColumn("sales",d)
df_3.show(5)

+------+--------------+--------------+--------------+--------------+---------+---------------+---------+-------------+---------------+----------+-----------+------+---------------+---------------+------------+--------------------+------------------+--------+--------+--------+
|row_id|      order_id|    order_date|     ship_date|     ship_mode|column_id|  customer_name|  segment|      country|           city|     state|postal_code|region|     product_id|       category|sub_category|        product_name|             sales|quantity|discount|  profit|
+------+--------------+--------------+--------------+--------------+---------+---------------+---------+-------------+---------------+----------+-----------+------+---------------+---------------+------------+--------------------+------------------+--------+--------+--------+
|     1|CA-2016-152156| [11, 8, 2016]|[11, 11, 2016]|  Second Class| CG-12520|    Claire Gute| Consumer|United States|      Henderson|  Kentucky|      42420| South|FUR-BO-10001798|      Furniture|   Bookcases|Bush Somerset Col...| 261.9599914550781|     2.0|     0.0| 41.9136|
|     2|CA-2016-152156| [11, 8, 2016]|[11, 11, 2016]|  Second Class| CG-12520|    Claire Gute| Consumer|United States|      Henderson|  Kentucky|      42420| South|FUR-CH-10000454|      Furniture|      Chairs|Hon Deluxe Fabric...| 731.9400024414062|     3.0|     0.0| 219.582|
|     3|CA-2016-138688| [6, 12, 2016]| [6, 16, 2016]|  Second Class| DV-13045|Darrin Van Huff|Corporate|United States|    Los Angeles|California|      90036|  West|OFF-LA-10000240|Office Supplies|      Labels|Self-Adhesive Add...|14.619999885559082|     2.0|     0.0|  6.8714|
|     4|US-2015-108966|[10, 11, 2015]|[10, 18, 2015]|Standard Class| SO-20335| Sean O'Donnell| Consumer|United States|Fort Lauderdale|   Florida|      33311| South|FUR-TA-10000577|      Furniture|      Tables|Bretford CR4500 S...| 957.5775146484375|     5.0|    0.45|-383.031|
|     5|US-2015-108966|[10, 11, 2015]|[10, 18, 2015]|Standard Class| SO-20335| Sean O'Donnell| Consumer|United States|Fort Lauderdale|   Florida|      33311| South|OFF-ST-10000760|Office Supplies|     Storage|Eldon Fold 'N Rol...|22.368000030517578|     2.0|     0.2|  2.5164|
+------+--------------+--------------+--------------+--------------+---------+---------------+---------+-------------+---------------+----------+-----------+------+---------------+---------------+------------+--------------------+------------------+--------+--------+--------+
only showing top 5 rows

In [430]:
print("sales")
cd = when(col("sales").isNull(),1).otherwise(0)
df_3.agg(sum(cd)).show()

sales
+------------------------------------------------+
|sum(CASE WHEN (sales IS NULL) THEN 1 ELSE 0 END)|
+------------------------------------------------+
|                                               0|
+------------------------------------------------+

b) Dealing with null values for quantity column

In [431]:
print("quantity")
cde = when(col("quantity").isNull(),1).otherwise(0)
df_3.agg(sum(cde)).show()

quantity
+---------------------------------------------------+
|sum(CASE WHEN (quantity IS NULL) THEN 1 ELSE 0 END)|
+---------------------------------------------------+
|                                                 20|
+---------------------------------------------------+

In [432]:
print("quantity")
cdef = when(col("quantity")<0,1).otherwise(0)
df_3.agg(sum(cdef)).show()

quantity
+-----------------------------------------------+
|sum(CASE WHEN (quantity < 0) THEN 1 ELSE 0 END)|
+-----------------------------------------------+
|                                              0|
+-----------------------------------------------+

In [433]:
median_value = df.agg(median("quantity")).first()[0]
cond = when(col("quantity").isNull(),median_value).otherwise(col("quantity"))
df_4 = df_3.withColumn("quantity",cond)
df_4.show(5)

+------+--------------+--------------+--------------+--------------+---------+---------------+---------+-------------+---------------+----------+-----------+------+---------------+---------------+------------+--------------------+------------------+--------+--------+--------+
|row_id|      order_id|    order_date|     ship_date|     ship_mode|column_id|  customer_name|  segment|      country|           city|     state|postal_code|region|     product_id|       category|sub_category|        product_name|             sales|quantity|discount|  profit|
+------+--------------+--------------+--------------+--------------+---------+---------------+---------+-------------+---------------+----------+-----------+------+---------------+---------------+------------+--------------------+------------------+--------+--------+--------+
|     1|CA-2016-152156| [11, 8, 2016]|[11, 11, 2016]|  Second Class| CG-12520|    Claire Gute| Consumer|United States|      Henderson|  Kentucky|      42420| South|FUR-BO-10001798|      Furniture|   Bookcases|Bush Somerset Col...| 261.9599914550781|     2.0|     0.0| 41.9136|
|     2|CA-2016-152156| [11, 8, 2016]|[11, 11, 2016]|  Second Class| CG-12520|    Claire Gute| Consumer|United States|      Henderson|  Kentucky|      42420| South|FUR-CH-10000454|      Furniture|      Chairs|Hon Deluxe Fabric...| 731.9400024414062|     3.0|     0.0| 219.582|
|     3|CA-2016-138688| [6, 12, 2016]| [6, 16, 2016]|  Second Class| DV-13045|Darrin Van Huff|Corporate|United States|    Los Angeles|California|      90036|  West|OFF-LA-10000240|Office Supplies|      Labels|Self-Adhesive Add...|14.619999885559082|     2.0|     0.0|  6.8714|
|     4|US-2015-108966|[10, 11, 2015]|[10, 18, 2015]|Standard Class| SO-20335| Sean O'Donnell| Consumer|United States|Fort Lauderdale|   Florida|      33311| South|FUR-TA-10000577|      Furniture|      Tables|Bretford CR4500 S...| 957.5775146484375|     5.0|    0.45|-383.031|
|     5|US-2015-108966|[10, 11, 2015]|[10, 18, 2015]|Standard Class| SO-20335| Sean O'Donnell| Consumer|United States|Fort Lauderdale|   Florida|      33311| South|OFF-ST-10000760|Office Supplies|     Storage|Eldon Fold 'N Rol...|22.368000030517578|     2.0|     0.2|  2.5164|
+------+--------------+--------------+--------------+--------------+---------+---------------+---------+-------------+---------------+----------+-----------+------+---------------+---------------+------------+--------------------+------------------+--------+--------+--------+
only showing top 5 rows

In [434]:
print("quantity")
cde = when(col("quantity").isNull(),1).otherwise(0)
df_4.agg(sum(cde)).show()

quantity
+---------------------------------------------------+
|sum(CASE WHEN (quantity IS NULL) THEN 1 ELSE 0 END)|
+---------------------------------------------------+
|                                                  0|
+---------------------------------------------------+

c) Dealing with null values for discount column

In [435]:
print("discount")
cde = when(col("discount").isNull(),1).otherwise(0)
df_4.agg(sum(cde)).show()

discount
+---------------------------------------------------+
|sum(CASE WHEN (discount IS NULL) THEN 1 ELSE 0 END)|
+---------------------------------------------------+
|                                                 11|
+---------------------------------------------------+

In [436]:
df_4.agg(mean("discount")).first()[0]

0.31559491291273506

In [437]:
df_4.agg(percentile_approx(col("discount"),[0.25,0.5,0.75,0.9])).first()[0]

[0.0, 0.20000000298023224, 0.20000000298023224, 0.6000000238418579]

In [438]:
median_value = df.agg(median("discount")).first()[0]
condi = when(col("discount").isNull(),median_value).otherwise(col("discount"))
df_5 = df_4.withColumn("discount",condi)
df_5.show(5)

+------+--------------+--------------+--------------+--------------+---------+---------------+---------+-------------+---------------+----------+-----------+------+---------------+---------------+------------+--------------------+------------------+--------+-------------------+--------+
|row_id|      order_id|    order_date|     ship_date|     ship_mode|column_id|  customer_name|  segment|      country|           city|     state|postal_code|region|     product_id|       category|sub_category|        product_name|             sales|quantity|           discount|  profit|
+------+--------------+--------------+--------------+--------------+---------+---------------+---------+-------------+---------------+----------+-----------+------+---------------+---------------+------------+--------------------+------------------+--------+-------------------+--------+
|     1|CA-2016-152156| [11, 8, 2016]|[11, 11, 2016]|  Second Class| CG-12520|    Claire Gute| Consumer|United States|      Henderson|  Kentucky|      42420| South|FUR-BO-10001798|      Furniture|   Bookcases|Bush Somerset Col...| 261.9599914550781|     2.0|                0.0| 41.9136|
|     2|CA-2016-152156| [11, 8, 2016]|[11, 11, 2016]|  Second Class| CG-12520|    Claire Gute| Consumer|United States|      Henderson|  Kentucky|      42420| South|FUR-CH-10000454|      Furniture|      Chairs|Hon Deluxe Fabric...| 731.9400024414062|     3.0|                0.0| 219.582|
|     3|CA-2016-138688| [6, 12, 2016]| [6, 16, 2016]|  Second Class| DV-13045|Darrin Van Huff|Corporate|United States|    Los Angeles|California|      90036|  West|OFF-LA-10000240|Office Supplies|      Labels|Self-Adhesive Add...|14.619999885559082|     2.0|                0.0|  6.8714|
|     4|US-2015-108966|[10, 11, 2015]|[10, 18, 2015]|Standard Class| SO-20335| Sean O'Donnell| Consumer|United States|Fort Lauderdale|   Florida|      33311| South|FUR-TA-10000577|      Furniture|      Tables|Bretford CR4500 S...| 957.5775146484375|     5.0|0.44999998807907104|-383.031|
|     5|US-2015-108966|[10, 11, 2015]|[10, 18, 2015]|Standard Class| SO-20335| Sean O'Donnell| Consumer|United States|Fort Lauderdale|   Florida|      33311| South|OFF-ST-10000760|Office Supplies|     Storage|Eldon Fold 'N Rol...|22.368000030517578|     2.0|0.20000000298023224|  2.5164|
+------+--------------+--------------+--------------+--------------+---------+---------------+---------+-------------+---------------+----------+-----------+------+---------------+---------------+------------+--------------------+------------------+--------+-------------------+--------+
only showing top 5 rows

In [439]:
print("discount")
cde = when(col("discount").isNull(),1).otherwise(0)
df_5.agg(sum(cde)).show()

discount
+---------------------------------------------------+
|sum(CASE WHEN (discount IS NULL) THEN 1 ELSE 0 END)|
+---------------------------------------------------+
|                                                  0|
+---------------------------------------------------+

**5. What percentage of missing data exists per column?**

In [442]:
for i in df.columns:
    cond = when(col(i).isNull(),1).otherwise(0)
    no_of_null_values = df.agg(sum(cond)).first()[0]
    print(no_of_null_values)
    print(i,"",(no_of_null_values*100/df.count()))

0
Row ID  0.0
0
Order ID  0.0
0
Order Date  0.0
0
Ship Date  0.0
0
Ship Mode  0.0
0
Customer ID  0.0
0
Customer Name  0.0
0
Segment  0.0
0
Country  0.0
0
City  0.0
0
State  0.0
0
Postal Code  0.0
0
Region  0.0
0
Product ID  0.0
0
Category  0.0
0
Sub-Category  0.0
0
Product Name  0.0
0
Sales  0.0
0
Quantity  0.0
0
Discount  0.0
0
Profit  0.0