In [84]:
library(dplyr)

In [85]:
df = read.csv("zomato.csv")
df_1 = df[,!names(df) %in% c("address","phone")]

In [86]:
p = c()

for (i in names(df_1))
{
    if(i=="rate")
    {p = append(p,"rating")}
    else if(i=="approx_cost.for.two.people.")
    {p = append(p,"approx_cost")}
    else if(i=="listed_in.type.")
    {p = append(p,"type")}
    else
    p = append(p,i)
}

df_2 = df_1
names(df_2) = p

#### Data Cleaning and Handling Null Values.

* Remove rows with null values in the 'name' column.
* Fill null values in the 'online_order' column with 'NA'.
* Fill null values in the 'book_table' column with 'NA'.
* Replace null values in the 'rating' column with 0, considering it's a numerical datatype.
* Replace null values in the 'votes' column with 0, considering it's a numerical datatype.
* Fill null values in the 'location' column with 'NA'.
* Fill null values in the 'rest_type' column with 'NA'.
* Fill null values in the 'dish_liked' column with 'NA'.
* Fill null values in the 'cuisines' column with 'NA'.
* Replace null values in the 'approx_cost' column with 0, considering it's a numerical value.
* Fill null values in the 'type' column with 'NA'.
* Set the inplace parameter to True to modify 'df' in place for every steps.
* Inspect the data by calling the variable 'df'.

In [87]:
df_2[,"name"] = na.omit(df_2[,"name"])

df_2[is.na(df_2[,"online_order"]),"online_order"] = "NA"
df_2[is.na(df_2[,"book_table"]),"book_table"] = "NA"
df_2[is.na(df_2[,"location"]),"location"] = "NA"
df_2[is.na(df_2[,"rest_type"]),"rest_type"] = "NA"
df_2[is.na(df_2[,"dish_liked"]),"dish_liked"] = "NA"
df_2[is.na(df_2[,"cuisines"]),"cuisines"] = "NA"
df_2[is.na(df_2[,"type"]),"type"] = "NA"


df_2[is.na(df_2[,"rating"]),"rating"] = 0
df_2[is.na(df_2[,"votes"]),"votes"] = 0
df_2[is.na(df_2[,"approx_cost"]),"approx_cost"] = 0

In [88]:
df_3 = df_2[!duplicated(df_2),]
df_4 = df_3

In [89]:
for (i in names(df_3))
{
    df_4 = df_4[!grepl("Rated",df_4[,i]),]
}