**1. Import the required class from PySpark to create a SparkSession.**

In [1]:
from pyspark.sql import SparkSession

**2. Write the statement to create a SparkSession with a suitable application name.**

In [2]:
spark = SparkSession.builder.appName("Tutorial4").getOrCreate()

**3. Display the SparkSession object in the Jupyter Notebook.**

In [3]:
spark

**4. Write the command used to read a CSV file into a PySpark DataFrame with the header option enabled.**

In [4]:
df = spark.read.csv("test1.csv", header=True, inferSchema=True)

**5. Display the contents of the PySpark DataFrame after loading the dataset.**

In [5]:
df.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

**6. Write the statement used to filter rows where a column value is greater than a specific number.**

In [7]:
df.filter(df["age"] > 25).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
+---------+---+----------+------+

**7. How do you filter rows where a column value is less than or equal to a given value?**

In [8]:
df.filter(df["Salary"] <= 20000).show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

**8. Write the PySpark statement to filter rows based on equality condition.**

In [9]:
df.filter(df["Salary"] == 20000).show()

+-----+---+----------+------+
| Name|age|Experience|Salary|
+-----+---+----------+------+
|Sunny| 29|         4| 20000|
| Paul| 24|         3| 20000|
+-----+---+----------+------+

**9. How do you apply multiple filter conditions using logical AND (&) in PySpark?**

In [10]:
df.filter((df["Salary"] <= 20000) & (df["age"] > 25)).show()

+-----+---+----------+------+
| Name|age|Experience|Salary|
+-----+---+----------+------+
|Sunny| 29|         4| 20000|
+-----+---+----------+------+

**10. Write the statement used to apply multiple filter conditions using logical OR (|).**

In [12]:
df.filter((df["Salary"] > 20000) | (df["age"] > 25)).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
+---------+---+----------+------+

**11. How can you filter rows using a NOT condition in PySpark?**

In [14]:
df.filter(~(df["Salary"] == 20000)).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

**12. Write the command used to filter rows based on a string column value.**

In [24]:
df.filter(df["Name"].contains("S")).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [37]:
df.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [44]:
df.filter("Name LIKE '%a%'").show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|Sudhanshu| 30|         8| 25000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

**13. How do you select specific columns after applying a filter condition?**

In [26]:
df_1 = df.filter(df["Name"].contains("S")).select("Name", "age")
df_1.show()

+---------+---+
|     Name|age|
+---------+---+
|Sudhanshu| 30|
|    Sunny| 29|
|  Shubham| 23|
+---------+---+

**14. Write the statement used to display the filtered DataFrame output.**

In [27]:
df_1.show()

+---------+---+
|     Name|age|
+---------+---+
|Sudhanshu| 30|
|    Sunny| 29|
|  Shubham| 23|
+---------+---+