**1. Import the required class from PySpark to create a SparkSession.**

In [1]:
from pyspark.sql import *

**2. Write the statement to create a SparkSession with a suitable application name.**

In [2]:
spark = SparkSession.builder.appName("Tutorial 8").getOrCreate()

**3. Display the SparkSession object in the Jupyter Notebook.**

In [3]:
spark

**4. Write the command used to read a CSV file into a PySpark DataFrame with the header option enabled.**

In [8]:
df = spark.read.csv("tips.csv",header=True,inferSchema=True)

**5. Display the contents of the DataFrame after loading the dataset.**

In [9]:
df.show()

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 20 rows

**6. Write the statement used to check the schema of the DataFrame.**

In [10]:
df.printSchema()

root
 |-- total_bill: double (nullable = true)
 |-- tip: double (nullable = true)
 |-- sex: string (nullable = true)
 |-- smoker: string (nullable = true)
 |-- day: string (nullable = true)
 |-- time: string (nullable = true)
 |-- size: integer (nullable = true)

**7. Import the required PySpark ML class used to convert categorical string columns into numerical values.**

In [ ]:
from pyspark.ml.feature import StringIndexer

**8. Write the command used to apply StringIndexer on the categorical column.**

In [12]:
df.show()

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 20 rows

In [21]:
#si = StringIndexer(inputCol=["sex","smoker","day","time"],outputCol=["sex_indexed","smoker_indexed","day_indexed","time_indexed"])

si = StringIndexer(inputCol="sex",outputCol="sex_indexed")
df_transformed = si.fit(df).transform(df)

si = StringIndexer(inputCol="smoker",outputCol="smoker_indexed")
df_transformed = si.fit(df_transformed).transform(df_transformed)

si = StringIndexer(inputCol="day",outputCol="day_indexed")
df_transformed = si.fit(df_transformed).transform(df_transformed)

si = StringIndexer(inputCol="time",outputCol="time_indexed")
df_transformed = si.fit(df_transformed).transform(df_transformed)

**9. Display the DataFrame after applying the StringIndexer transformation.**

In [22]:
df_transformed.show()

+----------+----+------+------+---+------+----+-----------+--------------+-----------+------------+
|total_bill| tip|   sex|smoker|day|  time|size|sex_indexed|smoker_indexed|day_indexed|time_indexed|
+----------+----+------+------+---+------+----+-----------+--------------+-----------+------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|        1.0|           0.0|        1.0|         0.0|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|        0.0|           0.0|        1.0|         0.0|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|        0.0|           0.0|        1.0|         0.0|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|        1.0|           0.0|        1.0|         0.0|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|        0.0|           0.0|        1.0|         0.0|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|        0.0|           0.0|        1.0|         0.0|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|        1.0|           0.0|        1.0|         0.0|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|        0.0|           0.0|        1.0|         0.0|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|        1.0|           0.0|        1.0|         0.0|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|        1.0|           0.0|        1.0|         0.0|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|        0.0|           0.0|        1.0|         0.0|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|        1.0|           0.0|        1.0|         0.0|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|        0.0|           0.0|        0.0|         0.0|
+----------+----+------+------+---+------+----+-----------+--------------+-----------+------------+
only showing top 20 rows

**10. Import the required class used to combine multiple feature columns into a single vector.**

In [23]:
from pyspark.ml.feature import VectorAssembler

**11. Write the statement used to create a VectorAssembler with the specified input and output columns.**

In [35]:
df_tr = df_transformed.drop("sex","smoker","day","time")
df_tr.show()

+----------+----+----+-----------+--------------+-----------+------------+
|total_bill| tip|size|sex_indexed|smoker_indexed|day_indexed|time_indexed|
+----------+----+----+-----------+--------------+-----------+------------+
|     16.99|1.01|   2|        1.0|           0.0|        1.0|         0.0|
|     10.34|1.66|   3|        0.0|           0.0|        1.0|         0.0|
|     21.01| 3.5|   3|        0.0|           0.0|        1.0|         0.0|
|     23.68|3.31|   2|        0.0|           0.0|        1.0|         0.0|
|     24.59|3.61|   4|        1.0|           0.0|        1.0|         0.0|
|     25.29|4.71|   4|        0.0|           0.0|        1.0|         0.0|
|      8.77| 2.0|   2|        0.0|           0.0|        1.0|         0.0|
|     26.88|3.12|   4|        0.0|           0.0|        1.0|         0.0|
|     15.04|1.96|   2|        0.0|           0.0|        1.0|         0.0|
|     14.78|3.23|   2|        0.0|           0.0|        1.0|         0.0|
|     10.27|1.71|   2|        0.0|           0.0|        1.0|         0.0|
|     35.26| 5.0|   4|        1.0|           0.0|        1.0|         0.0|
|     15.42|1.57|   2|        0.0|           0.0|        1.0|         0.0|
|     18.43| 3.0|   4|        0.0|           0.0|        1.0|         0.0|
|     14.83|3.02|   2|        1.0|           0.0|        1.0|         0.0|
|     21.58|3.92|   2|        0.0|           0.0|        1.0|         0.0|
|     10.33|1.67|   3|        1.0|           0.0|        1.0|         0.0|
|     16.29|3.71|   3|        0.0|           0.0|        1.0|         0.0|
|     16.97| 3.5|   3|        1.0|           0.0|        1.0|         0.0|
|     20.65|3.35|   3|        0.0|           0.0|        0.0|         0.0|
+----------+----+----+-----------+--------------+-----------+------------+
only showing top 20 rows

In [38]:
vect = VectorAssembler(inputCols=["tip","size","sex_indexed","smoker_indexed","day_indexed","time_indexed"],outputCol="Input")

**12. Write the command used to transform the DataFrame using the VectorAssembler.**

In [40]:
df_assembled = vect.transform(df_transformed)
df_assembled = df_assembled.select("Input","total_bill")
df_assembled.show()

+--------------------+----------+
|               Input|total_bill|
+--------------------+----------+
|[1.01,2.0,1.0,0.0...|     16.99|
|[1.66,3.0,0.0,0.0...|     10.34|
|[3.5,3.0,0.0,0.0,...|     21.01|
|[3.31,2.0,0.0,0.0...|     23.68|
|[3.61,4.0,1.0,0.0...|     24.59|
|[4.71,4.0,0.0,0.0...|     25.29|
|[2.0,2.0,0.0,0.0,...|      8.77|
|[3.12,4.0,0.0,0.0...|     26.88|
|[1.96,2.0,0.0,0.0...|     15.04|
|[3.23,2.0,0.0,0.0...|     14.78|
|[1.71,2.0,0.0,0.0...|     10.27|
|[5.0,4.0,1.0,0.0,...|     35.26|
|[1.57,2.0,0.0,0.0...|     15.42|
|[3.0,4.0,0.0,0.0,...|     18.43|
|[3.02,2.0,1.0,0.0...|     14.83|
|[3.92,2.0,0.0,0.0...|     21.58|
|[1.67,3.0,1.0,0.0...|     10.33|
|[3.71,3.0,0.0,0.0...|     16.29|
|[3.5,3.0,1.0,0.0,...|     16.97|
|(6,[0,1],[3.35,3.0])|     20.65|
+--------------------+----------+
only showing top 20 rows

**13. Import the PySpark ML class required to perform Linear Regression.**

In [41]:
from pyspark.ml.regression import LinearRegression

**14. Write the statement used to create a Linear Regression model by specifying the features and label columns.**

In [44]:
train_df,test_df = df_assembled.randomSplit([0.75,0.25])

In [42]:
lr = LinearRegression(featuresCol="Input",labelCol="total_bill")

**15. Write the command used to fit (train) the Linear Regression model on the transformed DataFrame.**

In [45]:
model = lr.fit(train_df)

**16. Write the statement used to display the coefficients and intercept of the trained Linear Regression model.**

In [46]:
print(model.coefficients)
print(model.intercept)

[2.8934464157801854,4.046217227982118,-1.7166384449059051,2.4897770849941403,0.04917509578757927,-0.31060855304465124]
0.063583567266473

**17. Write the command used to generate predictions using the trained model.**

In [62]:
from pyspark.sql.functions import *

In [71]:
pred = model.transform(test_df)
pred.show()

+--------------------+----------+------------------+
|               Input|total_bill|        prediction|
+--------------------+----------+------------------+
|(6,[0,1],[1.75,2.0])|     17.82|13.219549250846033|
|(6,[0,1],[2.24,3.0])|     16.04|18.683555222560443|
|(6,[0,1],[2.31,3.0])|     18.69|18.886096471665056|
|(6,[0,1],[3.35,3.0])|     20.65|21.895280744076448|
| (6,[0,1],[3.6,3.0])|     24.06|22.618642348021492|
|[1.0,1.0,1.0,0.0,...|      7.25| 5.286608766122871|
|[1.0,1.0,1.0,1.0,...|      3.07| 7.776385851117011|
|[1.0,2.0,0.0,1.0,...|      12.6|13.539241524005034|
|[1.17,2.0,0.0,1.0...|     32.83|14.031127414687665|
|[1.44,2.0,0.0,0.0...|      7.56|12.110322500484683|
|[1.5,2.0,0.0,1.0,...|     11.59|14.985964731895127|
|[1.5,2.0,0.0,1.0,...|     12.03|15.133490019257865|
|[1.5,2.0,1.0,0.0,...|     26.41|10.779549201995081|
|[1.5,2.0,1.0,0.0,...|      8.35|10.567290840525589|
|[1.5,2.0,1.0,0.0,...|     11.17|10.567290840525589|
|[1.56,2.0,0.0,0.0...|      9.94|12.718969527635377|
|[1.57,2.0,0.0,0.0...|     15.42| 12.74790399179318|
|[1.66,3.0,0.0,0.0...|     10.34| 17.05453139719551|
|[1.68,2.0,1.0,0.0...|     13.42|11.088111195366022|
|[2.0,2.0,0.0,0.0,...|      8.77|13.992085950578659|
+--------------------+----------+------------------+
only showing top 20 rows

In [67]:
pred_1 = pred.withColumn("prediction",round(col("prediction"),2))

**18. Display the output DataFrame containing the prediction results.**

In [68]:
pred_1.show()

+--------------------+----------+----------+
|               Input|total_bill|prediction|
+--------------------+----------+----------+
|(6,[0,1],[1.75,2.0])|     17.82|     13.22|
|(6,[0,1],[2.24,3.0])|     16.04|     18.68|
|(6,[0,1],[2.31,3.0])|     18.69|     18.89|
|(6,[0,1],[3.35,3.0])|     20.65|      21.9|
| (6,[0,1],[3.6,3.0])|     24.06|     22.62|
|[1.0,1.0,1.0,0.0,...|      7.25|      5.29|
|[1.0,1.0,1.0,1.0,...|      3.07|      7.78|
|[1.0,2.0,0.0,1.0,...|      12.6|     13.54|
|[1.17,2.0,0.0,1.0...|     32.83|     14.03|
|[1.44,2.0,0.0,0.0...|      7.56|     12.11|
|[1.5,2.0,0.0,1.0,...|     11.59|     14.99|
|[1.5,2.0,0.0,1.0,...|     12.03|     15.13|
|[1.5,2.0,1.0,0.0,...|     26.41|     10.78|
|[1.5,2.0,1.0,0.0,...|      8.35|     10.57|
|[1.5,2.0,1.0,0.0,...|     11.17|     10.57|
|[1.56,2.0,0.0,0.0...|      9.94|     12.72|
|[1.57,2.0,0.0,0.0...|     15.42|     12.75|
|[1.66,3.0,0.0,0.0...|     10.34|     17.05|
|[1.68,2.0,1.0,0.0...|     13.42|     11.09|
|[2.0,2.0,0.0,0.0,...|      8.77|     13.99|
+--------------------+----------+----------+
only showing top 20 rows

In [74]:
pred_results=model.evaluate(test_df)

In [79]:
print(pred_results.r2)
print(pred_results.meanAbsoluteError)
print(pred_results.meanSquaredError)
print(pred_results.rootMeanSquaredError)

0.5114877229873374
4.538032277908265
36.71607618346685
6.059379191259353