**1. Import the required class from PySpark to create a SparkSession.**

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

**2. Write the statement to create a SparkSession with an appropriate application name.**

In [3]:
spark = SparkSession.builder.appName("Tutorial5").getOrCreate()

**3. Display the SparkSession object in the Jupyter Notebook.**

In [4]:
spark

**4. Write the command used to read a CSV file into a PySpark DataFrame with the header option enabled.**

In [7]:
df = spark.read.csv("test3.csv", header=True, inferSchema=True)

**5. Display the contents of the DataFrame after loading the dataset.**

In [8]:
df.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

**6. Write the statement used to group the DataFrame by a single column.**

In [10]:
df_grouped = df.groupBy("Departments")
df_grouped

GroupedData[grouping expressions: [Departments], value: [Name: string, Departments: string ... 1 more field], type: GroupBy]

**7. How do you calculate the sum of a numeric column using groupBy()?**

In [ ]:
df_grouped.sum("Salary").show()

**8. Write the command used to calculate the mean (average) of a column for each group.**

**9. How do you count the number of rows for each group using PySpark?**

**10. Write the statement used to calculate the maximum value of a column after grouping.**

**11. Write the command used to calculate the minimum value of a column after grouping.**

**12. How do you apply multiple aggregate functions on a grouped DataFrame?**

**13. Write the statement used to rename aggregate output columns after performing groupBy operations.**

**14. How do you display the aggregated DataFrame output?**