**1. Import the required class from PySpark to create a SparkSession.**

In [1]:
from pyspark.sql import *

**2. Write the statement to create a SparkSession with a suitable application name.**

In [2]:
spark = SparkSession.builder.appName("Tutorial 8").getOrCreate()

**3. Display the SparkSession object in the Jupyter Notebook.**

In [3]:
spark

**4. Write the command used to read a CSV file into a PySpark DataFrame with the header option enabled.**

In [4]:
df = spark.read.csv("tips.csv",header=True,inferSchema=True)

**5. Display the contents of the DataFrame after loading the dataset.**

In [5]:
df.show()

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 20 rows

**6. Write the statement used to check the schema of the DataFrame.**

In [6]:
df.printSchema()

root
 |-- total_bill: double (nullable = true)
 |-- tip: double (nullable = true)
 |-- sex: string (nullable = true)
 |-- smoker: string (nullable = true)
 |-- day: string (nullable = true)
 |-- time: string (nullable = true)
 |-- size: integer (nullable = true)

**7. Import the required PySpark ML class used to convert categorical string columns into numerical values.**

In [7]:
from pyspark.ml.feature import StringIndexer

**8. Write the command used to apply StringIndexer on the categorical column.**

In [8]:
df.show()

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 20 rows

In [9]:
#si = StringIndexer(inputCol=["sex","smoker","day","time"],outputCol=["sex_indexed","smoker_indexed","day_indexed","time_indexed"])

si = StringIndexer(inputCol="sex",outputCol="sex_indexed")
df_transformed = si.fit(df).transform(df)

si = StringIndexer(inputCol="smoker",outputCol="smoker_indexed")
df_transformed = si.fit(df_transformed).transform(df_transformed)

si = StringIndexer(inputCol="day",outputCol="day_indexed")
df_transformed = si.fit(df_transformed).transform(df_transformed)

si = StringIndexer(inputCol="time",outputCol="time_indexed")
df_transformed = si.fit(df_transformed).transform(df_transformed)

**9. Display the DataFrame after applying the StringIndexer transformation.**

In [10]:
df_transformed.show()

+----------+----+------+------+---+------+----+-----------+--------------+-----------+------------+
|total_bill| tip|   sex|smoker|day|  time|size|sex_indexed|smoker_indexed|day_indexed|time_indexed|
+----------+----+------+------+---+------+----+-----------+--------------+-----------+------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|        1.0|           0.0|        1.0|         0.0|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|        0.0|           0.0|        1.0|         0.0|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|        0.0|           0.0|        1.0|         0.0|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|        1.0|           0.0|        1.0|         0.0|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|        0.0|           0.0|        1.0|         0.0|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|        0.0|           0.0|        1.0|         0.0|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|        1.0|           0.0|        1.0|         0.0|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|        0.0|           0.0|        1.0|         0.0|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|        1.0|           0.0|        1.0|         0.0|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|        1.0|           0.0|        1.0|         0.0|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|        0.0|           0.0|        1.0|         0.0|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|        1.0|           0.0|        1.0|         0.0|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|        0.0|           0.0|        0.0|         0.0|
+----------+----+------+------+---+------+----+-----------+--------------+-----------+------------+
only showing top 20 rows

**10. Import the required class used to combine multiple feature columns into a single vector.**

In [11]:
from pyspark.ml.feature import VectorAssembler

**11. Write the statement used to create a VectorAssembler with the specified input and output columns.**

In [12]:
df_tr = df_transformed.drop("sex","smoker","day","time")
df_tr.show()

+----------+----+----+-----------+--------------+-----------+------------+
|total_bill| tip|size|sex_indexed|smoker_indexed|day_indexed|time_indexed|
+----------+----+----+-----------+--------------+-----------+------------+
|     16.99|1.01|   2|        1.0|           0.0|        1.0|         0.0|
|     10.34|1.66|   3|        0.0|           0.0|        1.0|         0.0|
|     21.01| 3.5|   3|        0.0|           0.0|        1.0|         0.0|
|     23.68|3.31|   2|        0.0|           0.0|        1.0|         0.0|
|     24.59|3.61|   4|        1.0|           0.0|        1.0|         0.0|
|     25.29|4.71|   4|        0.0|           0.0|        1.0|         0.0|
|      8.77| 2.0|   2|        0.0|           0.0|        1.0|         0.0|
|     26.88|3.12|   4|        0.0|           0.0|        1.0|         0.0|
|     15.04|1.96|   2|        0.0|           0.0|        1.0|         0.0|
|     14.78|3.23|   2|        0.0|           0.0|        1.0|         0.0|
|     10.27|1.71|   2|        0.0|           0.0|        1.0|         0.0|
|     35.26| 5.0|   4|        1.0|           0.0|        1.0|         0.0|
|     15.42|1.57|   2|        0.0|           0.0|        1.0|         0.0|
|     18.43| 3.0|   4|        0.0|           0.0|        1.0|         0.0|
|     14.83|3.02|   2|        1.0|           0.0|        1.0|         0.0|
|     21.58|3.92|   2|        0.0|           0.0|        1.0|         0.0|
|     10.33|1.67|   3|        1.0|           0.0|        1.0|         0.0|
|     16.29|3.71|   3|        0.0|           0.0|        1.0|         0.0|
|     16.97| 3.5|   3|        1.0|           0.0|        1.0|         0.0|
|     20.65|3.35|   3|        0.0|           0.0|        0.0|         0.0|
+----------+----+----+-----------+--------------+-----------+------------+
only showing top 20 rows

In [13]:
vect = VectorAssembler(inputCols=["tip","size","sex_indexed","smoker_indexed","day_indexed","time_indexed"],outputCol="Input")

**12. Write the command used to transform the DataFrame using the VectorAssembler.**

In [14]:
df_assembled = vect.transform(df_transformed)
df_assembled = df_assembled.select("Input","total_bill")
df_assembled.show()

+--------------------+----------+
|               Input|total_bill|
+--------------------+----------+
|[1.01,2.0,1.0,0.0...|     16.99|
|[1.66,3.0,0.0,0.0...|     10.34|
|[3.5,3.0,0.0,0.0,...|     21.01|
|[3.31,2.0,0.0,0.0...|     23.68|
|[3.61,4.0,1.0,0.0...|     24.59|
|[4.71,4.0,0.0,0.0...|     25.29|
|[2.0,2.0,0.0,0.0,...|      8.77|
|[3.12,4.0,0.0,0.0...|     26.88|
|[1.96,2.0,0.0,0.0...|     15.04|
|[3.23,2.0,0.0,0.0...|     14.78|
|[1.71,2.0,0.0,0.0...|     10.27|
|[5.0,4.0,1.0,0.0,...|     35.26|
|[1.57,2.0,0.0,0.0...|     15.42|
|[3.0,4.0,0.0,0.0,...|     18.43|
|[3.02,2.0,1.0,0.0...|     14.83|
|[3.92,2.0,0.0,0.0...|     21.58|
|[1.67,3.0,1.0,0.0...|     10.33|
|[3.71,3.0,0.0,0.0...|     16.29|
|[3.5,3.0,1.0,0.0,...|     16.97|
|(6,[0,1],[3.35,3.0])|     20.65|
+--------------------+----------+
only showing top 20 rows

**13. Import the PySpark ML class required to perform Linear Regression.**

In [15]:
from pyspark.ml.regression import LinearRegression

**14. Write the statement used to create a Linear Regression model by specifying the features and label columns.**

In [16]:
train_df,test_df = df_assembled.randomSplit([0.75,0.25])

In [17]:
lr = LinearRegression(featuresCol="Input",labelCol="total_bill")

**15. Write the command used to fit (train) the Linear Regression model on the transformed DataFrame.**

In [18]:
model = lr.fit(train_df)

**16. Write the statement used to display the coefficients and intercept of the trained Linear Regression model.**

In [19]:
print(model.coefficients)
print(model.intercept)

[3.3897165943664183,3.7905896378496933,-1.7462909858374005,2.505548757099815,0.44337965858913725,-1.0523555389638801]
-0.7592520766369085

**17. Write the command used to generate predictions using the trained model.**

In [20]:
from pyspark.sql.functions import *

In [21]:
pred = model.transform(test_df)
pred.show()

+--------------------+----------+------------------+
|               Input|total_bill|        prediction|
+--------------------+----------+------------------+
|(6,[0,1],[1.25,2.0])|     10.51|11.059072942020501|
| (6,[0,1],[2.0,3.0])|     16.31|17.391950025645006|
|(6,[0,1],[2.01,2.0])|     20.23|13.635257553738978|
|(6,[0,1],[2.24,3.0])|     16.04| 18.20548200829295|
| (6,[0,1],[3.6,3.0])|     24.06| 22.81549657663128|
|[1.1,2.0,1.0,1.0,...|      12.9|11.309873224127953|
|[1.17,2.0,0.0,1.0...|     32.83|13.293444371571002|
|[1.5,2.0,0.0,0.0,...|     19.08|11.740905868826498|
|[1.5,2.0,1.0,0.0,...|     26.41|10.160211104774703|
|[1.5,2.0,1.0,0.0,...|      8.35| 9.994614882989097|
|[1.5,2.0,1.0,0.0,...|     11.17| 9.994614882989097|
|[1.58,2.0,0.0,1.0...|     13.42|14.961011612064766|
|[1.63,2.0,1.0,0.0...|     11.87|10.435278040256733|
|[1.67,3.0,1.0,0.0...|     10.33|14.970432222255823|
|[1.8,2.0,1.0,0.0,...|     12.43|11.011529861299024|
|[1.96,2.0,0.0,0.0...|     15.04|13.909151382609796|
|[2.0,2.0,0.0,1.0,...|     13.51|15.941312923109525|
|[2.0,2.0,1.0,0.0,...|     12.26|11.689473180172307|
|[2.0,2.0,1.0,0.0,...|     14.52|11.689473180172307|
|[2.0,2.0,1.0,1.0,...|     27.18|14.360618159057728|
+--------------------+----------+------------------+
only showing top 20 rows

In [22]:
pred_1 = pred.withColumn("prediction",round(col("prediction"),2))

**18. Display the output DataFrame containing the prediction results.**

In [23]:
pred_1.show()

+--------------------+----------+----------+
|               Input|total_bill|prediction|
+--------------------+----------+----------+
|(6,[0,1],[1.25,2.0])|     10.51|     11.06|
| (6,[0,1],[2.0,3.0])|     16.31|     17.39|
|(6,[0,1],[2.01,2.0])|     20.23|     13.64|
|(6,[0,1],[2.24,3.0])|     16.04|     18.21|
| (6,[0,1],[3.6,3.0])|     24.06|     22.82|
|[1.1,2.0,1.0,1.0,...|      12.9|     11.31|
|[1.17,2.0,0.0,1.0...|     32.83|     13.29|
|[1.5,2.0,0.0,0.0,...|     19.08|     11.74|
|[1.5,2.0,1.0,0.0,...|     26.41|     10.16|
|[1.5,2.0,1.0,0.0,...|      8.35|      9.99|
|[1.5,2.0,1.0,0.0,...|     11.17|      9.99|
|[1.58,2.0,0.0,1.0...|     13.42|     14.96|
|[1.63,2.0,1.0,0.0...|     11.87|     10.44|
|[1.67,3.0,1.0,0.0...|     10.33|     14.97|
|[1.8,2.0,1.0,0.0,...|     12.43|     11.01|
|[1.96,2.0,0.0,0.0...|     15.04|     13.91|
|[2.0,2.0,0.0,1.0,...|     13.51|     15.94|
|[2.0,2.0,1.0,0.0,...|     12.26|     11.69|
|[2.0,2.0,1.0,0.0,...|     14.52|     11.69|
|[2.0,2.0,1.0,1.0,...|     27.18|     14.36|
+--------------------+----------+----------+
only showing top 20 rows

In [24]:
pred_results=model.evaluate(test_df)

print(pred_results.r2)
print(pred_results.meanAbsoluteError)
print(pred_results.meanSquaredError)
print(pred_results.rootMeanSquaredError)

0.22069613856137815
5.0395571390168055
47.75407505796078
6.910432335097478

In [25]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import count

In [26]:
# Create Spark session (connects to cluster)
spark = SparkSession.builder \
    .appName("Distributed Log Processing") \
    .getOrCreate()

In [27]:
# Sample log data (in reality this would be huge & stored in HDFS/S3)
data = [
    ("2026-01-01", "/home"),
    ("2026-01-01", "/login"),
    ("2026-01-01", "/home"),
    ("2026-01-02", "/products"),
    ("2026-01-02", "/home"),
]

columns = ["date", "url"]

# Create DataFrame
logs_df = spark.createDataFrame(data, columns)

In [28]:
# Distributed aggregation
url_counts = logs_df.groupBy("url").agg(count("*").alias("request_count"))

In [ ]:
# Action triggers distributed execution
url_counts.show()