**1. Import the required class from PySpark to create a SparkSession.**

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

**2. Write the statement to create a SparkSession with an appropriate application name.**

In [2]:
spark = SparkSession.builder.appName("Tutorial5").getOrCreate()

**3. Display the SparkSession object in the Jupyter Notebook.**

In [3]:
spark

**4. Write the command used to read a CSV file into a PySpark DataFrame with the header option enabled.**

In [4]:
df = spark.read.csv("test3.csv", header=True, inferSchema=True)

**5. Display the contents of the DataFrame after loading the dataset.**

In [5]:
df.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

**6. Write the statement used to group the DataFrame by a single column.**

In [6]:
df_grouped = df.groupBy("Departments")
df_grouped

GroupedData[grouping expressions: [Departments], value: [Name: string, Departments: string ... 1 more field], type: GroupBy]

**7. How do you calculate the sum of a numeric column using groupBy()?**

In [7]:
df_grouped.sum("Salary").show()

+------------+-----------+
| Departments|sum(Salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

**8. Write the command used to calculate the mean (average) of a column for each group.**

In [8]:
df_grouped.mean("Salary").show()

+------------+-----------+
| Departments|avg(Salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

**9. How do you count the number of rows for each group using PySpark?**

In [9]:
df_grouped.count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

**10. Write the statement used to calculate the maximum value of a column after grouping.**

In [10]:
df_grouped.max("Salary").show()

+------------+-----------+
| Departments|max(Salary)|
+------------+-----------+
|         IOT|      10000|
|    Big Data|       5000|
|Data Science|      20000|
+------------+-----------+

**11. Write the command used to calculate the minimum value of a column after grouping.**

In [11]:
df_grouped.min("Salary").show()

+------------+-----------+
| Departments|min(Salary)|
+------------+-----------+
|         IOT|       5000|
|    Big Data|       2000|
|Data Science|       3000|
+------------+-----------+

**12. How do you apply multiple aggregate functions on a grouped DataFrame?**

In [16]:
df_grouped_2 = df_grouped.agg(sum("Salary"), mean("Salary"), count("Salary"), max("Salary"), min("Salary"))
df_grouped_2.show()

+------------+-----------+-----------+-------------+-----------+-----------+
| Departments|sum(Salary)|avg(Salary)|count(Salary)|max(Salary)|min(Salary)|
+------------+-----------+-----------+-------------+-----------+-----------+
|         IOT|      15000|     7500.0|            2|      10000|       5000|
|    Big Data|      15000|     3750.0|            4|       5000|       2000|
|Data Science|      43000|    10750.0|            4|      20000|       3000|
+------------+-----------+-----------+-------------+-----------+-----------+

**13. Write the statement used to rename aggregate output columns after performing groupBy operations.**

In [20]:
df_grouped_3 = df_grouped_2.withColumnRenamed("sum(Salary)", "Total Salary")
df_grouped_3 = df_grouped_3.withColumnRenamed("avg(Salary)", "Average Salary")
df_grouped_3 = df_grouped_3.withColumnRenamed("count(Salary)", "Number of Employees")
df_grouped_3 = df_grouped_3.withColumnRenamed("max(Salary)", "Maximum Salary")
df_grouped_3 = df_grouped_3.withColumnRenamed("min(Salary)", "Minimum Salary")

**14. How do you display the aggregated DataFrame output?**

In [21]:
df_grouped_3.show()

+------------+------------+--------------+-------------------+--------------+--------------+
| Departments|Total Salary|Average Salary|Number of Employees|Maximum Salary|Minimum Salary|
+------------+------------+--------------+-------------------+--------------+--------------+
|         IOT|       15000|        7500.0|                  2|         10000|          5000|
|    Big Data|       15000|        3750.0|                  4|          5000|          2000|
|Data Science|       43000|       10750.0|                  4|         20000|          3000|
+------------+------------+--------------+-------------------+--------------+--------------+