1. Import the required class from PySpark to create a Spark session.

In [22]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

2. Write the statement to create a SparkSession with the application name "Dataframe".

In [2]:
spark = SparkSession.builder.appName("Dataframe").getOrCreate()

3. Display the SparkSession object in the Jupyter Notebook.

In [3]:
spark

4. Write the command to read a CSV file into a PySpark DataFrame using Spark.

In [4]:
df = spark.read.csv("test1.csv",header=True,inferSchema=True)

5. How do you display the contents of the PySpark DataFrame?

In [5]:
df.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

6. Write the statement used to select specific columns (Name and Experience) from the DataFrame and display them.

In [6]:
df.select("Name","Experience").show()

+---------+----------+
|     Name|Experience|
+---------+----------+
|    Krish|        10|
|Sudhanshu|         8|
|    Sunny|         4|
|     Paul|         3|
|   Harsha|         1|
|  Shubham|         2|
+---------+----------+

7. Write the syntax used to access a single column (Name) from the PySpark DataFrame.

In [7]:
df.select("Name").show()

+---------+
|     Name|
+---------+
|    Krish|
|Sudhanshu|
|    Sunny|
|     Paul|
|   Harsha|
|  Shubham|
+---------+

8. How do you check the data types of all columns in a PySpark DataFrame?

In [8]:
df.dtypes

[('Name', 'string'), ('age', 'int'), ('Experience', 'int'), ('Salary', 'int')]

9. Write the command used to generate descriptive statistics of the DataFrame, similar to Pandas describe().

In [9]:
df.describe().show()

+-------+------+------------------+-----------------+------------------+
|summary|  Name|               age|       Experience|            Salary|
+-------+------+------------------+-----------------+------------------+
|  count|     6|                 6|                6|                 6|
|   mean|  NULL|26.333333333333332|4.666666666666667|21333.333333333332|
| stddev|  NULL| 4.179314138308661|3.559026084010437| 5354.126134736337|
|    min|Harsha|                21|                1|             15000|
|    max| Sunny|                31|               10|             30000|
+-------+------+------------------+-----------------+------------------+

10. How do you add a new column to the existing PySpark DataFrame?

In [10]:
df_new = df.withColumn("Experience + 2",df["Experience"]+2)
df_new.show()

+---------+---+----------+------+--------------+
|     Name|age|Experience|Salary|Experience + 2|
+---------+---+----------+------+--------------+
|    Krish| 31|        10| 30000|            12|
|Sudhanshu| 30|         8| 25000|            10|
|    Sunny| 29|         4| 20000|             6|
|     Paul| 24|         3| 20000|             5|
|   Harsha| 21|         1| 15000|             3|
|  Shubham| 23|         2| 18000|             4|
+---------+---+----------+------+--------------+

11. Write the statement used to drop a column from the PySpark DataFrame.

In [11]:
df_new_2 = df.drop("Experience + 2")
df_new_2.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

12. How can you rename an existing column in a PySpark DataFrame?

In [12]:
df_renamed = df_new_2.withColumnRenamed("Name","New Name")

13. Write the command used to display the updated DataFrame after column operations.

In [13]:
df_renamed.show()

+---------+---+----------+------+
| New Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [14]:
df_renamed.head(df_renamed.count())

[Row(New Name='Krish', age=31, Experience=10, Salary=30000),
 Row(New Name='Sudhanshu', age=30, Experience=8, Salary=25000),
 Row(New Name='Sunny', age=29, Experience=4, Salary=20000),
 Row(New Name='Paul', age=24, Experience=3, Salary=20000),
 Row(New Name='Harsha', age=21, Experience=1, Salary=15000),
 Row(New Name='Shubham', age=23, Experience=2, Salary=18000)]