In [ ]:
from pyspark.sql import *
from pyspark.sql.functions import *
from pyspark.ml.feature import *
from pyspark.ml.regression import *
import pandas as pd

In [2]:
spark = SparkSession.builder.appName("Venezuelan Economy Analyser").getOrCreate()

In [3]:
df = spark.read.csv(r"C:\Users\amith\Documents\GitHub\misc\Venezuela Resource Dependency & Economy(1960-2023)\venezuela_wdi_indicators.csv",header=True,inferSchema=True)

In [4]:
df.show()

+------------+----+-----------------+------------------------------------+------------------------------+-----------------------------------------+-------------------+-----------------+
|country_iso3|year|oil_rents_pct_gdp|total_natural_resource_rents_pct_gdp|fuel_exports_pct_merch_exports|ores_and_metals_exports_pct_merch_exports|    gdp_current_usd|   gdp_growth_pct|
+------------+----+-----------------+------------------------------------+------------------------------+-----------------------------------------+-------------------+-----------------+
|         VEN|1960|             NULL|                                NULL|                          NULL|                                     NULL| 7.66393830307171E9|             NULL|
|         VEN|1961|             NULL|                                NULL|                          NULL|                                     NULL| 8.06726703061862E9| 3.19251943889351|
|         VEN|1962|             NULL|                                NULL|              92.3629279351709|                        0.180690478647573| 8.81430988421165E9| 8.53293376290748|
|         VEN|1963|             NULL|                                NULL|              92.9111895427033|                         3.76672119170157| 9.60871728817057E9| 3.90095116381761|
|         VEN|1964|             NULL|                                NULL|              91.0995448082283|                         5.87164970374326| 8.19241379310345E9| 11.1293452932631|
|         VEN|1965|             NULL|                                NULL|              92.5185567156205|                          4.6596531793633| 8.42777777777778E9| 4.16286666476383|
|         VEN|1966|             NULL|                                NULL|              93.4011576320389|                         4.96447157842293| 8.78133333333333E9| 1.51025011101866|
|         VEN|1967|             NULL|                                NULL|              93.4213440140314|                         4.35139600234646|             9.25E9| 2.83386903098939|
|         VEN|1968|             NULL|                                NULL|              93.4616531067943|                         4.12701347839794|1.00344444444444E10| 7.33723265821627|
|         VEN|1969|             NULL|                                NULL|                92.35925258221|                         5.03554042630553|1.02851111111111E10|0.706036796156368|
|         VEN|1970| 4.79927244945126|                    5.48772130601331|              91.0159714248327|                         5.80784544796093|1.15611111111111E10| 7.71191438124387|
|         VEN|1971| 6.78719222962612|                    7.38794104909662|              91.5238450151192|                         5.50373167972084|1.29865909090909E10| 1.47929120998987|
|         VEN|1972| 6.69174635347221|                    7.19271915747182|              90.5740424938746|                          5.0327125265331|1.39777272727273E10| 1.28280503619366|
|         VEN|1973| 10.2866739191916|                    10.7554427076038|              93.0898064449265|                         4.35479132791224|1.70355813953488E10| 7.10995789495608|
|         VEN|1974| 33.3402278252986|                    33.9478841729493|              95.1307868601858|                          2.8734857009038|2.61009302325581E10| 2.06933320169247|
|         VEN|1975| 24.0233622156042|                    24.8915014056924|               94.640486168019|                          3.3594015143054|2.74646511627907E10| 2.89625778007183|
|         VEN|1976| 22.1509399998971|                    22.9931513860828|              93.8272821162325|                         3.63174325863264|3.14195348837209E10| 7.72773984679837|
|         VEN|1977| 15.7438348333444|                    16.1985343555775|               92.611057457657|                          4.9375377453672|3.62106976744186E10| 6.27078351298829|
|         VEN|1978| 15.4615217950232|                    15.8263995123574|              94.4678736341477|                         2.88739329714763|3.93162790697674E10| 2.34689637191248|
|         VEN|1979| 35.9005908031082|                     36.481380981255|              92.7633174683121|                         4.92305870936454|4.83109302325581E10|0.764355145425426|
+------------+----+-----------------+------------------------------------+------------------------------+-----------------------------------------+-------------------+-----------------+
only showing top 20 rows

In [5]:
df.printSchema()

root
 |-- country_iso3: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- oil_rents_pct_gdp: double (nullable = true)
 |-- total_natural_resource_rents_pct_gdp: double (nullable = true)
 |-- fuel_exports_pct_merch_exports: double (nullable = true)
 |-- ores_and_metals_exports_pct_merch_exports: double (nullable = true)
 |-- gdp_current_usd: double (nullable = true)
 |-- gdp_growth_pct: double (nullable = true)

['country_iso3',
 'year',
 'oil_rents_pct_gdp',
 'total_natural_resource_rents_pct_gdp',
 'fuel_exports_pct_merch_exports',
 'ores_and_metals_exports_pct_merch_exports',
 'gdp_current_usd',
 'gdp_growth_pct']

In [ ]:
df_description = df.describe()
df_count = df_description.filter(col("summary") == "count")

df_count_null = pd.DataFrame(columns=df_count.columns[1:])
for i in df.columns:
    df_count_null.loc[0,i] = df.count() - int(df_count.select(i).first()[0])

df_count_null.to_csv(r"C:\Users\amith\Documents\GitHub\misc\Venezuela Resource Dependency & Economy(1960-2023)\amith.csv",index=False)
df_count_null = spark.read.csv(r"C:\Users\amith\Documents\GitHub\misc\Venezuela Resource Dependency & Economy(1960-2023)\amith.csv")

#df_count_null = spark.createDataFrame(df_count_null)
df_count_null.show()

PySparkTypeError: [NOT_STR_OR_LIST_OF_RDD] Argument `path` should be a str or list[RDD], got DataFrame.